<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <script>
        src="https://kit.fontawesome.com/733294f120.js"
      crossorigin="anonymous"
    </script>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div class="box" id="heading">
        <h1>Wish list</h1>
    </div>
    <div class="box">
        <% for(let i = 0; i < myWish.length; i++) %>
      <form action="/wishDelete" method="POST">
        <div class="wish">
          <input
            type="hidden"
            value="<%= myWish[i].wish.wishInput%>"
            name="oldWish"
          />

          <p><%= myWish[i].wish.wishInput%></p>

          <button type="submit" name="deleteWishButton">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </form>
      <% } %>

      <form action="/" class="class" method="POST">
        <input type="text" name="wishInput" placeholder="Add Wish" />
        <button type="submit">+</button>
      </form>
    </div>
    <footer>
      <span>Elis-Liselle S. &#169; 2021</span>
    </footer>
</body>
</html>